<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Green</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>435.79132935733372</real>
					<key>controlPoint1Y</key>
					<real>72.899930228890383</real>
					<key>controlPoint2X</key>
					<real>364.80037484835981</real>
					<key>controlPoint2Y</key>
					<real>73.540663018355772</real>
					<key>dstPointX</key>
					<real>338.43397345581457</real>
					<key>dstPointY</key>
					<real>89.597439209879795</real>
					<key>srcPointX</key>
					<real>461.91697426306109</real>
					<key>srcPointY</key>
					<real>89.345533359129988</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>37.5</real>
					<key>controlPoint1Y</key>
					<real>80.75</real>
					<key>controlPoint2X</key>
					<real>56.897817165048188</real>
					<key>controlPoint2Y</key>
					<real>94.253042288673086</real>
					<key>dstPointX</key>
					<real>56.897817165048188</real>
					<key>dstPointY</key>
					<real>94.253042288673086</real>
					<key>srcPointX</key>
					<real>37.5</real>
					<key>srcPointY</key>
					<real>80.75</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>37.5</real>
			<key>y</key>
			<real>81.25</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Red</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>99.433001858706206</real>
					<key>controlPoint1Y</key>
					<real>179.47382569295826</real>
					<key>controlPoint2X</key>
					<real>195.54177030952403</real>
					<key>controlPoint2Y</key>
					<real>301.0404871605727</real>
					<key>dstPointX</key>
					<real>255.01166917949769</real>
					<key>dstPointY</key>
					<real>300.26184012870544</real>
					<key>srcPointX</key>
					<real>99.75577968598067</real>
					<key>srcPointY</key>
					<real>119.99970546172364</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Yellow</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>235.22335769176277</real>
					<key>controlPoint1Y</key>
					<real>73.532234235533906</real>
					<key>controlPoint2X</key>
					<real>164.29335261145596</real>
					<key>controlPoint2Y</key>
					<real>73.007760736915287</real>
					<key>dstPointX</key>
					<real>138.13934189371224</real>
					<key>dstPointY</key>
					<real>89.385399294779631</real>
					<key>srcPointX</key>
					<real>261.57396671082358</real>
					<key>srcPointY</key>
					<real>89.591646605869542</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>YellowRed</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>404.76436083631722</real>
					<key>controlPoint1Y</key>
					<real>300.77638654151804</real>
					<key>controlPoint2X</key>
					<real>504.77272019018744</real>
					<key>controlPoint2Y</key>
					<real>179.67869482754736</real>
					<key>dstPointX</key>
					<real>502.0501079609715</real>
					<key>dstPointY</key>
					<real>119.97923394692222</real>
					<key>srcPointX</key>
					<real>345.00568062344985</real>
					<key>srcPointY</key>
					<real>300.19467698836939</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
