<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.3</string>
	<key>States</key>
	<dict>
		<key>Red</key>
		<dict>
			<key>expanded</key>
			<false/>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>w</key>
			<real>100</real>
			<key>h</key>
			<real>50</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>expandedHeight</key>
			<real>100</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onSuspendHeight</key>
			<real>15</real>
			<key>onResumeHeight</key>
			<real>15</real>
			<key>Transitions</key>
			<array>
				<dict>
					<key>srcPointX</key>
					<real>100</real>
					<key>srcPointY</key>
					<real>100</real>
					<key>ctlPoint1X</key>
					<real>150</real>
					<key>ctlPoint1Y</key>
					<real>100</real>
					<key>ctlPoint2X</key>
					<real>175</real>
					<key>ctlPoint2Y</key>
					<real>150</real>
					<key>dstPointX</key>
					<real>200</real>
					<key>dstPointY</key>
					<real>200</real>
				</dict>
			</array>
		</dict>
		<key>Yellow</key>
		<dict>
			<key>expanded</key>
			<false/>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>100</real>
			<key>w</key>
			<real>100</real>
			<key>h</key>
			<real>50</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>expandedHeight</key>
			<real>100</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onSuspendHeight</key>
			<real>15</real>
			<key>onResumeHeight</key>
			<real>15</real>
			<key>Transitions</key>
			<array>
				<dict>
					<key>srcPointX</key>
					<real>300</real>
					<key>srcPointY</key>
					<real>100</real>
					<key>ctlPoint1X</key>
					<real>350</real>
					<key>ctlPoint1Y</key>
					<real>80</real>
					<key>ctlPoint2X</key>
					<real>375</real>
					<key>ctlPoint2Y</key>
					<real>250</real>
					<key>dstPointX</key>
					<real>400</real>
					<key>dstPointY</key>
					<real>300</real>
				</dict>
			</array>
		</dict>
		<key>Green</key>
		<dict>
			<key>expanded</key>
			<false/>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>100</real>
			<key>w</key>
			<real>100</real>
			<key>h</key>
			<real>50</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>expandedHeight</key>
			<real>100</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onSuspendHeight</key>
			<real>15</real>
			<key>onResumeHeight</key>
			<real>15</real>
			<key>Transitions</key>
			<array>
				<dict>
					<key>srcPointX</key>
					<real>500</real>
					<key>srcPointY</key>
					<real>100</real>
					<key>ctlPoint1X</key>
					<real>450</real>
					<key>ctlPoint1Y</key>
					<real>150</real>
					<key>ctlPoint2X</key>
					<real>375</real>
					<key>ctlPoint2Y</key>
					<real>175</real>
					<key>dstPointX</key>
					<real>300</real>
					<key>dstPointY</key>
					<real>100</real>
				</dict>
			</array>
		</dict>
		<key>YellowToRed</key>
		<dict>
			<key>expanded</key>
			<false/>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>300</real>
			<key>w</key>
			<real>100</real>
			<key>h</key>
			<real>50</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>expandedHeight</key>
			<real>100</real>
			<key>onEntryHeight</key>
			<real>20</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onSuspendHeight</key>
			<real>15</real>
			<key>onResumeHeight</key>
			<real>15</real>
			<key>Transitions</key>
			<array>
				<dict>
					<key>srcPointX</key>
					<real>300</real>
					<key>srcPointY</key>
					<real>300</real>
					<key>ctlPoint1X</key>
					<real>225</real>
					<key>ctlPoint1Y</key>
					<real>275</real>
					<key>ctlPoint2X</key>
					<real>175</real>
					<key>ctlPoint2Y</key>
					<real>150</real>
					<key>dstPointX</key>
					<real>100</real>
					<key>dstPointY</key>
					<real>100</real>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>