<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CountUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>645.9592201216235</real>
							<real>303.5967855141223</real>
						</array>
						<array>
							<real>607.05866265204929</real>
							<real>373.78811621892714</real>
						</array>
						<array>
							<real>576.71749306798029</real>
							<real>587.6439208984375</real>
						</array>
						<array>
							<real>496.4674072265625</real>
							<real>587.6439208984375</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>607.05866265204929</real>
						<real>373.78811621892714</real>
					</array>
					<key>controlPoint1X</key>
					<real>607.05866265204929</real>
					<key>controlPoint1Y</key>
					<real>373.78811621892714</real>
					<key>controlPoint2</key>
					<array>
						<real>576.71749306798029</real>
						<real>587.6439208984375</real>
					</array>
					<key>controlPoint2X</key>
					<real>576.71749306798029</real>
					<key>controlPoint2Y</key>
					<real>587.6439208984375</real>
					<key>dstPoint</key>
					<array>
						<real>496.4674072265625</real>
						<real>587.6439208984375</real>
					</array>
					<key>dstPointX</key>
					<real>496.4674072265625</real>
					<key>dstPointY</key>
					<real>587.6439208984375</real>
					<key>srcPoint</key>
					<array>
						<real>645.9592201216235</real>
						<real>303.5967855141223</real>
					</array>
					<key>srcPointX</key>
					<real>645.9592201216235</real>
					<key>srcPointY</key>
					<real>303.5967855141223</real>
				</dict>
			</array>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>100</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>16.666666666666668</real>
			<key>onSuspendHeight</key>
			<real>16.666666666666668</real>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>779.781982421875</real>
			<key>y</key>
			<real>211.9654541015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>16.666666666666668</real>
			<key>zoomedOnSuspendHeight</key>
			<real>16.666666666666668</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>330.57244873046875</real>
							<real>203.3087158203125</real>
						</array>
						<array>
							<real>406.57244873046875</real>
							<real>203.3087158203125</real>
						</array>
						<array>
							<real>559.654052734375</real>
							<real>204.15859985351562</real>
						</array>
						<array>
							<real>635.654052734375</real>
							<real>204.15859985351562</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>406.57244873046875</real>
						<real>203.3087158203125</real>
					</array>
					<key>controlPoint1X</key>
					<real>406.57244873046875</real>
					<key>controlPoint1Y</key>
					<real>203.3087158203125</real>
					<key>controlPoint2</key>
					<array>
						<real>559.654052734375</real>
						<real>204.15859985351562</real>
					</array>
					<key>controlPoint2X</key>
					<real>559.654052734375</real>
					<key>controlPoint2Y</key>
					<real>204.15859985351562</real>
					<key>dstPoint</key>
					<array>
						<real>635.654052734375</real>
						<real>204.15859985351562</real>
					</array>
					<key>dstPointX</key>
					<real>635.654052734375</real>
					<key>dstPointY</key>
					<real>204.15859985351562</real>
					<key>srcPoint</key>
					<array>
						<real>330.57244873046875</real>
						<real>203.3087158203125</real>
					</array>
					<key>srcPointX</key>
					<real>330.57244873046875</real>
					<key>srcPointY</key>
					<real>203.3087158203125</real>
				</dict>
			</array>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>100</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>16.666666666666668</real>
			<key>onSuspendHeight</key>
			<real>16.666666666666668</real>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>187.14251708984375</real>
			<key>y</key>
			<real>213.24874877929688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>16.666666666666668</real>
			<key>zoomedOnSuspendHeight</key>
			<real>16.666666666666668</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>488.2149658203125</real>
							<real>138.00250244140625</real>
						</array>
						<array>
							<real>488.2149658203125</real>
							<real>138.00250244140625</real>
						</array>
						<array>
							<real>330.57244873046875</real>
							<real>137.25375366210938</real>
						</array>
						<array>
							<real>330.57244873046875</real>
							<real>137.25375366210938</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>488.2149658203125</real>
						<real>138.00250244140625</real>
					</array>
					<key>controlPoint1X</key>
					<real>488.2149658203125</real>
					<key>controlPoint1Y</key>
					<real>138.00250244140625</real>
					<key>controlPoint2</key>
					<array>
						<real>330.57244873046875</real>
						<real>137.25375366210938</real>
					</array>
					<key>controlPoint2X</key>
					<real>330.57244873046875</real>
					<key>controlPoint2Y</key>
					<real>137.25375366210938</real>
					<key>dstPoint</key>
					<array>
						<real>330.57244873046875</real>
						<real>137.25375366210938</real>
					</array>
					<key>dstPointX</key>
					<real>330.57244873046875</real>
					<key>dstPointY</key>
					<real>137.25375366210938</real>
					<key>srcPoint</key>
					<array>
						<real>488.2149658203125</real>
						<real>138.00250244140625</real>
					</array>
					<key>srcPointX</key>
					<real>488.2149658203125</real>
					<key>srcPointY</key>
					<real>138.00250244140625</real>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>expandedHeight</key>
			<real>100</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>onResumeHeight</key>
			<real>16.666666666666668</real>
			<key>onSuspendHeight</key>
			<real>16.666666666666668</real>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>487.14251708984375</real>
			<key>y</key>
			<real>138.24874877929688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>16.666666666666668</real>
			<key>zoomedOnSuspendHeight</key>
			<real>16.666666666666668</real>
		</dict>
		<key>Print</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>351.5614013671875</real>
							<real>484.724609375</real>
						</array>
						<array>
							<real>351.5614013671875</real>
							<real>387.15792124820507</real>
						</array>
						<array>
							<real>538.08736460758007</real>
							<real>216.795654296875</real>
						</array>
						<array>
							<real>635.654052734375</real>
							<real>216.795654296875</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>351.5614013671875</real>
						<real>387.15792124820507</real>
					</array>
					<key>controlPoint1X</key>
					<real>351.5614013671875</real>
					<key>controlPoint1Y</key>
					<real>387.15792124820507</real>
					<key>controlPoint2</key>
					<array>
						<real>538.08736460758007</real>
						<real>216.795654296875</real>
					</array>
					<key>controlPoint2X</key>
					<real>538.08736460758007</real>
					<key>controlPoint2Y</key>
					<real>216.795654296875</real>
					<key>dstPoint</key>
					<array>
						<real>635.654052734375</real>
						<real>216.795654296875</real>
					</array>
					<key>dstPointX</key>
					<real>635.654052734375</real>
					<key>dstPointY</key>
					<real>216.795654296875</real>
					<key>srcPoint</key>
					<array>
						<real>351.5614013671875</real>
						<real>484.724609375</real>
					</array>
					<key>srcPointX</key>
					<real>351.5614013671875</real>
					<key>srcPointY</key>
					<real>484.724609375</real>
				</dict>
			</array>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>100</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>16.666666666666668</real>
			<key>onSuspendHeight</key>
			<real>16.666666666666668</real>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>352.5108642578125</real>
			<key>y</key>
			<real>580.091796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>16.666666666666668</real>
			<key>zoomedOnSuspendHeight</key>
			<real>16.666666666666668</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>100</real>
			<key>expandedWidth</key>
			<real>200</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>16.666666666666668</real>
			<key>onSuspendHeight</key>
			<real>16.666666666666668</real>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>789</real>
			<key>y</key>
			<real>621.859375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>16.666666666666668</real>
			<key>zoomedOnSuspendHeight</key>
			<real>16.666666666666668</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
