<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CountUp</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>646.3952552778735</real>
							<real>303.6658773109973</real>
						</array>
						<array>
							<real>607.49469780829929</real>
							<real>373.85720801580214</real>
						</array>
						<array>
							<real>576.19576455235529</real>
							<real>587.4603271484375</real>
						</array>
						<array>
							<real>495.9456787109375</real>
							<real>587.4603271484375</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>607.49469780829929</real>
						<real>373.85720801580214</real>
					</array>
					<key>controlPoint1X</key>
					<real>607.49469780829929</real>
					<key>controlPoint1Y</key>
					<real>373.85720801580214</real>
					<key>controlPoint2</key>
					<array>
						<real>576.19576455235529</real>
						<real>587.4603271484375</real>
					</array>
					<key>controlPoint2X</key>
					<real>576.19576455235529</real>
					<key>controlPoint2Y</key>
					<real>587.4603271484375</real>
					<key>dstPoint</key>
					<array>
						<real>495.9456787109375</real>
						<real>587.4603271484375</real>
					</array>
					<key>dstPointX</key>
					<real>495.9456787109375</real>
					<key>dstPointY</key>
					<real>587.4603271484375</real>
					<key>srcPoint</key>
					<array>
						<real>646.3952552778735</real>
						<real>303.6658773109973</real>
					</array>
					<key>srcPointX</key>
					<real>646.3952552778735</real>
					<key>srcPointY</key>
					<real>303.6658773109973</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.84545904397964478</real>
				<key>green</key>
				<real>0.95879226922988892</real>
				<key>red</key>
				<real>0.85263460874557495</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>200</real>
			<key>expandedWidth</key>
			<real>300</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>47</real>
			<key>onEntryHeight</key>
			<real>55</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>33.333332061767578</real>
			<key>onSuspendHeight</key>
			<real>33.333332061767578</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>779.781982421875</real>
			<key>y</key>
			<real>211.9654541015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>33.333332061767578</real>
			<key>zoomedOnSuspendHeight</key>
			<real>33.333332061767578</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>330.28741455078125</real>
							<real>202.81121826171875</real>
						</array>
						<array>
							<real>406.28741455078125</real>
							<real>202.81121826171875</real>
						</array>
						<array>
							<real>560.090087890625</real>
							<real>204.22769165039062</real>
						</array>
						<array>
							<real>636.090087890625</real>
							<real>204.22769165039062</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>406.28741455078125</real>
						<real>202.81121826171875</real>
					</array>
					<key>controlPoint1X</key>
					<real>406.28741455078125</real>
					<key>controlPoint1Y</key>
					<real>202.81121826171875</real>
					<key>controlPoint2</key>
					<array>
						<real>560.090087890625</real>
						<real>204.22769165039062</real>
					</array>
					<key>controlPoint2X</key>
					<real>560.090087890625</real>
					<key>controlPoint2Y</key>
					<real>204.22769165039062</real>
					<key>dstPoint</key>
					<array>
						<real>636.090087890625</real>
						<real>204.22769165039062</real>
					</array>
					<key>dstPointX</key>
					<real>636.090087890625</real>
					<key>dstPointY</key>
					<real>204.22769165039062</real>
					<key>srcPoint</key>
					<array>
						<real>330.28741455078125</real>
						<real>202.81121826171875</real>
					</array>
					<key>srcPointX</key>
					<real>330.28741455078125</real>
					<key>srcPointY</key>
					<real>202.81121826171875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>200</real>
			<key>expandedWidth</key>
			<real>300</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>77</real>
			<key>onEntryHeight</key>
			<real>25</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>33.333332061767578</real>
			<key>onSuspendHeight</key>
			<real>33.333332061767578</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>187.14251708984375</real>
			<key>y</key>
			<real>213.24874877929688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>33.333332061767578</real>
			<key>zoomedOnSuspendHeight</key>
			<real>33.333332061767578</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>488.2149658203125</real>
							<real>138.00250244140625</real>
						</array>
						<array>
							<real>488.2149658203125</real>
							<real>138.00250244140625</real>
						</array>
						<array>
							<real>330.28741455078125</real>
							<real>136.75625610351562</real>
						</array>
						<array>
							<real>330.28741455078125</real>
							<real>136.75625610351562</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>488.2149658203125</real>
						<real>138.00250244140625</real>
					</array>
					<key>controlPoint1X</key>
					<real>488.2149658203125</real>
					<key>controlPoint1Y</key>
					<real>138.00250244140625</real>
					<key>controlPoint2</key>
					<array>
						<real>330.28741455078125</real>
						<real>136.75625610351562</real>
					</array>
					<key>controlPoint2X</key>
					<real>330.28741455078125</real>
					<key>controlPoint2Y</key>
					<real>136.75625610351562</real>
					<key>dstPoint</key>
					<array>
						<real>330.28741455078125</real>
						<real>136.75625610351562</real>
					</array>
					<key>dstPointX</key>
					<real>330.28741455078125</real>
					<key>dstPointY</key>
					<real>136.75625610351562</real>
					<key>srcPoint</key>
					<array>
						<real>488.2149658203125</real>
						<real>138.00250244140625</real>
					</array>
					<key>srcPointX</key>
					<real>488.2149658203125</real>
					<key>srcPointY</key>
					<real>138.00250244140625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>expandedHeight</key>
			<real>25</real>
			<key>expandedWidth</key>
			<real>25</real>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>onResumeHeight</key>
			<real>4.1666665077209473</real>
			<key>onSuspendHeight</key>
			<real>4.1666665077209473</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>487.14251708984375</real>
			<key>y</key>
			<real>138.24874877929688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>4.1666665077209473</real>
			<key>zoomedOnSuspendHeight</key>
			<real>4.1666665077209473</real>
		</dict>
		<key>Print</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>bezierPath</key>
					<array>
						<array>
							<real>351.0396728515625</real>
							<real>484.541015625</real>
						</array>
						<array>
							<real>351.0396728515625</real>
							<real>386.97432749820507</real>
						</array>
						<array>
							<real>538.52339976383007</real>
							<real>216.86474609375</real>
						</array>
						<array>
							<real>636.090087890625</real>
							<real>216.86474609375</real>
						</array>
					</array>
					<key>controlPoint1</key>
					<array>
						<real>351.0396728515625</real>
						<real>386.97432749820507</real>
					</array>
					<key>controlPoint1X</key>
					<real>351.0396728515625</real>
					<key>controlPoint1Y</key>
					<real>386.97432749820507</real>
					<key>controlPoint2</key>
					<array>
						<real>538.52339976383007</real>
						<real>216.86474609375</real>
					</array>
					<key>controlPoint2X</key>
					<real>538.52339976383007</real>
					<key>controlPoint2Y</key>
					<real>216.86474609375</real>
					<key>dstPoint</key>
					<array>
						<real>636.090087890625</real>
						<real>216.86474609375</real>
					</array>
					<key>dstPointX</key>
					<real>636.090087890625</real>
					<key>dstPointY</key>
					<real>216.86474609375</real>
					<key>srcPoint</key>
					<array>
						<real>351.0396728515625</real>
						<real>484.541015625</real>
					</array>
					<key>srcPointX</key>
					<real>351.0396728515625</real>
					<key>srcPointY</key>
					<real>484.541015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.95519101619720459</real>
				<key>green</key>
				<real>0.90823400020599365</real>
				<key>red</key>
				<real>0.82671737670898438</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>200</real>
			<key>expandedWidth</key>
			<real>300</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>60</real>
			<key>onEntryHeight</key>
			<real>42</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>33.333332061767578</real>
			<key>onSuspendHeight</key>
			<real>33.333332061767578</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>352.5108642578125</real>
			<key>y</key>
			<real>580.091796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>33.333332061767578</real>
			<key>zoomedOnSuspendHeight</key>
			<real>33.333332061767578</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>expandedHeight</key>
			<real>200</real>
			<key>expandedWidth</key>
			<real>300</real>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>37</real>
			<key>onEntryHeight</key>
			<real>65</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>onResumeHeight</key>
			<real>33.333332061767578</real>
			<key>onSuspendHeight</key>
			<real>33.333332061767578</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>789</real>
			<key>y</key>
			<real>621.859375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
			<key>zoomedOnResumeHeight</key>
			<real>33.333332061767578</real>
			<key>zoomedOnSuspendHeight</key>
			<real>33.333332061767578</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
